{{ $formats := .Site.GetPage "/formats" }}
{{ range $formats.Resources }}
<H3 ID="d:{{ index .Params.params 0 }}">
{{- range $i, $p := .Params.params -}}
  {{- if $i -}}, {{ end -}}
  <A {{ if $i }}NAME="d:{{$p}}"{{ end }} HREF="#a:{{$p}}">{{$p}}</A>
{{- end -}}
</H3>

{{- .Content }}

{{ end }}
