{{ range $p := .Site.Pages }}
  {{- if eq $p.Type "gallery" -}}
    <div style="display: inline-block; width: 49%; vertical-align:top;">
      <a href="{{ $p.Permalink }}">
        <h3>{{ .Title }}</h3>
        <img style="max-width: 100%" src="/{{ .File.Dir }}{{ .Params.svg }}">
      </a>
    </div>
  {{- end -}}
{{ end }}
