<TABLE>
<TR>
  <TH>Command-line<BR>parameter</TH>
  <TH>Format</TH>
</TR>
{{ $formats := .Site.GetPage "/formats" }}
{{ range $formats.Resources }}
<TR>
  <TD>
  {{- range $i, $p := .Params.params -}}
    {{- if $i }}
      <BR>
    {{- end }}
    <A NAME="a:{{$p}}" HREF="#d:{{$p}}"><CODE>{{$p}}</CODE></A>
  {{- end }}
  </TD>
  <TD>{{ .Params.name }}</TD>
</TR>
{{- end }}
</TABLE>
